<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <app-client-list
    [clients]="clientService.userClients()"
    (edit)="editClient($event)"
    (delete)="deleteClient($event)"
    (openWhatsApp)="openWhatsApp($event)">
  </app-client-list>

  <app-client-modal
    [isOpen]="isModalOpen"
    [isSaving]="isSaving"
    [isEditing]="editingClientId !== null"
    [clientData]="editingClientData"
    (didDismiss)="closeModal()"
    (save)="onSubmit($event)">
  </app-client-modal>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
