<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- dashboard -->
    <ion-tab-button tab="dashboard">
      <ion-icon name="pie-chart-outline"></ion-icon>
    </ion-tab-button>
    <!-- Historial-->
    <ion-tab-button tab="historial">
      <ion-icon name="list-circle-outline"></ion-icon>
    </ion-tab-button>
    <!-- clientes -->
    <ion-tab-button tab="clients">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>
    <!-- perfil -->
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>