<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="pie-chart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="operations">
      <ion-icon name="receipt-outline"></ion-icon>
      
    </ion-tab-button>

    <ion-tab-button tab="clients">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" class="profile-tab-btn">
      <app-avatar [size]="24" class="tab-avatar"></app-avatar>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
