<ion-header>
  <ion-toolbar>
    <ion-segment [value]="selectedTab()" (ionChange)="onTabChange($event)">
      <ion-segment-button value="operaciones">
        <ion-label>Operaciones</ion-label>
      </ion-segment-button>
      <ion-segment-button value="articulos">
        <ion-label>Artículos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="prestamos">
        <ion-label>Préstamos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if(selectedTab() === 'operaciones') {
    <app-operations-list></app-operations-list>
  }
  @if(selectedTab() === 'articulos') {
    <app-articles-list></app-articles-list>
  }
  @if(selectedTab() === 'prestamos') {
    <app-loans-list></app-loans-list>
  }
</ion-content>