<ion-header>
  <ion-toolbar>
    <app-notification-bell></app-notification-bell>
    <ion-segment [value]="selectedTab()" (ionChange)="onTabChange($event)">
      <ion-segment-button value="operaciones">
        <ion-label>Operaciones</ion-label>
      </ion-segment-button>
      <ion-segment-button value="articulos">
        <ion-label>Artículos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="prestamos">
        <ion-label>Préstamos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if(selectedTab() === 'operaciones') {
  <app-operations-tab />
  }
  @if(selectedTab() === 'articulos') {
  <app-articles-tab />
  }
  @if(selectedTab() === 'prestamos') {
  <app-loans-tab />
  }
</ion-content>